<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
  <listener>
    <listener-class>
      uppa.project.listener.SessionServletContextListener
    </listener-class>
  </listener>
  
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>uppa.project.web.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
<!--    <url-pattern>/main-menu</url-pattern>-->
    <url-pattern>/lobby</url-pattern>
    <url-pattern>/rules</url-pattern>
    <url-pattern>/profile</url-pattern>
    <url-pattern>/game-statistics</url-pattern>
    <url-pattern>/new</url-pattern>
    <url-pattern>/join</url-pattern>
    <url-pattern>/game</url-pattern>
    <url-pattern>/logout</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AlreadyLoggedFilter</filter-name>
    <filter-class>uppa.project.web.filter.AlreadyLoggedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AlreadyLoggedFilter</filter-name>
    <url-pattern>/index.html</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/register</url-pattern>
    <url-pattern>/forgotten-password</url-pattern>
  </filter-mapping>
</web-app>
