:root {
    --bulma-primary-h: 0;
    --bulma-primary-s: 70%;
    --bulma-primary-l: 35%;
    --bulma-light-l: 96%;
    --modal-content-width: 50rem;
    --bulma-custom-footer-padding: 1rem 1.5rem 1rem;
}

.hero {
    background: url("../img/Home.svg") lightgray 50% / cover no-repeat;

    .footer {
        padding: var(--bulma-custom-footer-padding); !important;
    }
}

label.radio.button > input[type="radio"] {
    display: none;
}

a.is-disable {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    color:black
}

@media screen and (min-width: 769px) {
    .modal-card, .modal-content {
        width: var(--modal-content-width) !important;
    }
}
