html{
    height: 100%;
}

.content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 10%
}

h1 {
    width: 656px;
    height: 122px;
    color: #FFF;

    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 63px; /* 131.25% */
    letter-spacing: 0.48px;
}

p {
    width: 389px;

    color: #FFF;

    /* Text/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.buttons {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

a.button{
    display: flex;
    padding: var(--sizes-button-input-nav-larger-padding-v) var(--sizes-button-input-nav-larger-padding-h);
    justify-content: center;
    align-items: center;
    gap: var(--sizes-button-input-nav-larger-gap);
    border-radius: var(--Button-Border-radius);
    border: 1px solid var(--Button-Light-Default-Border);
    background: var(--Button-Light-Default-Background);
    color: #FFF;
    text-decoration: none;
}
