@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

.modal-toggle {
    cursor: pointer;
}

.modal-wrapper {
    position: fixed;
    top: 100px;
    right: 90px;
    bottom: 146px;
    left: 90px;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.2px);
    -webkit-backdrop-filter: blur(12.2px);
    border: 1px solid rgba(255, 255, 255, 0.63);
    display: none;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    pointer-events: auto;
}

.modal-wrapper > div {
    width: 95%;
    height: 95%;
    position: relative;


    margin: 50px 15px;

    vertical-align: middle;
    padding: 20px;
    border-radius: 6px;
}

.modal-content {
    display: flex;
    flex-direction: row;
    gap : 20px;
    border: 1px solid rgba(0, 0, 0, 0.83);
}

#settings {
    border-right: 1px solid rgba(0, 0, 0, 0.83);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.close {
    background: var(--Button-Light-Default-Background);
    color: #FFFFFF;
    line-height: 30px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: -10px;
    width: 30px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    font-size: xx-large;
}
