.modal-toggle {
    cursor: pointer;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    border: 1px solid rgba(208, 73, 73, 0.83);
    background: rgba(208, 73, 73, 0.38);
    backdrop-filter: blur(14.399999618530273px);
    display: none;

    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;

    pointer-events: auto;
}

.modal-wrapper > div {
    width: 460px;
    height: 40%;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    vertical-align: middle;
    padding: 20px;
    border-radius: 6px;
    background: #fff;

    display: none;
}

.close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.close:hover {
    background: #00d9ff;
}
