nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.nav-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

p.user{
    padding:10px;
}
