nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.nav-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

p.user {
    padding:10px;
}

a {
    align-self: center;
}
